streamlit
langchain
langchain-openai
langchain-qdrant
qdrant-client
faiss-cpu
openai
unstructured
spacy
pdfminer.six
python-docx
# The following line downloads the spaCy model automatically if needed
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl